{%- extends "base.html" %}

{%- block seo -%}
  {{- super() }}

  {%- if section.title and config.title %}
    {%- set title = section.title %}
    {%- set title_addition = title_separator ~ config.title %}
  {%- elif section.title %}
    {%- set title = section.title %}
    {%- set title_addition = "" %}
  {%- else %}
    {%- set title = config.title %}
    {%- set title_addition = "" %}
  {%- endif %}

  {%- if section.description %}
    {%- set description = section.description %}
  {%- else %}
    {%- set description = config.description %}
  {%- endif %}

  {{- macros::seo(title=title, title_addition=title_addition, description=description) }}
{%- endblock seo %}

{%- block content %}
{%- if section.content %}
<div class="entry">
  {{ section.content | safe }}
</div>
{%- endif %}

{%- if paginator %}
  {%- set pages = paginator.pages %}
{%- else %}
  {%- set pages = section.pages %}
{%- endif %}

<div class="pages">
  {%- for page in pages %}
    {{ macros::page_in_list(page=page) }}
  {%- endfor %}
</div>

{%- if paginator and paginator.total_pages > 1 %}
<div class="pagination">
  {%- if paginator.previous %}
  <a href="{{ paginator.previous | safe }}" class="previous-page">&lt;-- Previous</a>
  {%- else %}
  <span class="previous-page">&lt;-- Previous</span>
  {%- endif -%}{%- if paginator.next %}
  <a href="{{ paginator.next | safe }}" class="next-page">Next --&gt;</a>
  {%- else %}
  <span class="next-page">Next --&gt;</span>
  {%- endif %}
</div>
{%- endif -%}
{%- endblock %}
